
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container container-tight py-4">
    <div class="card card-md">
        <div class="card-body">
            <h3>Terima kasih sudah mengisi survey!</h3>
        </div>
    </div>
</div>